<html>

    <head>
        <title> Index </title>
    </head>

    <body>
        <a asp-action="Admin"> Admin Sayfasına Git </a>
        <a asp-action="Member"> Üye Sayfasına Git </a>
    </body>

</html>
